# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env

*.exe
*.cmd
*.bat
activate
*.ps1
*.fish

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Mac
.DS_Store

# Streamlit uploads directory
uploads/

# Model artifacts (if too large, use LFS instead)
# saved_models/

