__pycache__/
*.py[cod]
*$py.class

venv/
.env

*.exe
*.cmd
*.bat
activate
*.ps1
*.fish
pywin32_postinstall.py
pywin32_testall.py

mlruns/
mlfowapp.py
.ipynb_checkpoints


.vscode/


.DS_Store


uploads/
